# Itineraires with Jaccard index Null

After the findings of the index_distance notebook, we will inspect the candidates for mutualisations that doesn't have the same id of the itineraire searched but that starts at the same point

In [77]:
import sys  
sys.path.insert(0, '../scripts')
import numpy as np
import indexes, use_data, IsInclude
import pandas as pd
from shapely import wkt,MultiLineString
import ast
import warnings
warnings.filterwarnings('ignore')
import aux_plot

In [78]:
parameters = {
'radius':100000,
'buffer_hull':1000,
"type":1,
"area" : np.pi*100000**2
}


geo_df = use_data.create_gdf('simulations_reel_gdf.csv','start')
ranked_simulations = pd.read_csv("../data/raw/ranked_mutualisations.csv")

In [79]:
ranked_simulations

      id_simulation                                     mutualisations
0               349  [[1318.0, 0.015529438551704713, 14938.88397907...
1               466  [[17099.0, 0.0, 21755.738054389287, 80879.5347...
2               473  [[17099.0, 0.00026793521111654326, 21755.73805...
3               474  [[17099.0, 0.020088617454160723, 21755.7380543...
4               483  [[17099.0, 0.0, 21755.738054389287, 79446.6175...
...             ...                                                ...
1092          18751  [[14430.0, 0.0, 22098.03846598478, 73516.27031...
1093          18763  [[4147.0, 0.34303979954813274, 11728.183786741...
1094          18764  [[4147.0, 0.5329392809072709, 11728.1837867417...
1095          18765  [[4147.0, 0.5329392809072709, 11728.1837867417...
1096          18832  [[16048.0, 0.0, 52694.42684079593, 65918.63982...

[1097 rows x 2 columns]

In [80]:
#We prepare the database to allow those to be count correctly and take only the entries that have valid candidates
ranked_simulations['mutualisations']=ranked_simulations['mutualisations'].replace(np.nan,'[]',regex=True)
ranked_simulations['mutualisations'] = ranked_simulations['mutualisations'].map(lambda x: ast.literal_eval(x))
ranked_simulations['nbr'] = ranked_simulations['mutualisations'].map(lambda x: len(x))
ranked_simulations['jaccard_null'] = ranked_simulations['mutualisations'].map(lambda x: [y for y in x if y[1]==0])
ranked_simulations['nbr_jaccard_null'] = ranked_simulations['jaccard_null'].map(lambda x: len(x))

ranked_simulations.describe()

       id_simulation          nbr  nbr_jaccard_null
count    1097.000000  1097.000000       1097.000000
mean    10529.361896    71.035552         54.368277
std      4779.595303    56.025750         48.241156
min       349.000000     0.000000          0.000000
25%      6875.000000    26.000000         19.000000
50%     10941.000000    58.000000         42.000000
75%     15025.000000   105.000000         76.000000
max     18935.000000   236.000000        226.000000

In [81]:
ranked_simulations

,id_simulation,mutualisations,nbr,jaccard_null,nbr_jaccard_null
0,349,"[[1318.0, 0.015529438551704713, 14938.88397907...",69,"[[1306.0, 0.0, 14938.88397907818, 44835.962421...",63
1,466,"[[17099.0, 0.0, 21755.738054389287, 80879.5347...",110,"[[17099.0, 0.0, 21755.738054389287, 80879.5347...",110
2,473,"[[17099.0, 0.00026793521111654326, 21755.73805...",110,"[[5825.0, 0.0, 51554.311937555125, 76420.58104...",99
3,474,"[[17099.0, 0.020088617454160723, 21755.7380543...",110,"[[9935.0, 0.0, 28373.605141213317, 94091.77791...",105
4,483,"[[17099.0, 0.0, 21755.738054389287, 79446.6175...",110,"[[17099.0, 0.0, 21755.738054389287, 79446.6175...",97
...,...,...,...,...,...
1092,18751,"[[14430.0, 0.0, 22098.03846598478, 73516.27031...",91,"[[14430.0, 0.0, 22098.03846598478, 73516.27031...",79
1093,18763,"[[4147.0, 0.34303979954813274, 11728.183786741...",71,"[[6254.0, 0.0, 35328.768699080385, 77299.14133...",70
1094,18764,"[[4147.0, 0.5329392809072709, 11728.1837867417...",71,"[[6312.0, 0.0, 35328.768699080385, 103791.9648...",70
1095,18765,"[[4147.0, 0.5329392809072709, 11728.1837867417...",71,"[[6312.0, 0.0, 35328.768699080385, 103791.9648...",70
1096,18832,"[[16048.0, 0.0, 52694.42684079593, 65918.63982...",9,"[[16048.0, 0.0, 52694.42684079593, 65918.63982...",9

In [82]:
rapport_jaccard_null = ranked_simulations['nbr_jaccard_null'].sum() * 100 / ranked_simulations['nbr'].sum()

rapport_jaccard_null

76.53671431871263